<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processor</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8fafc;
        }
        .bg-blue-gradient {
            background: linear-gradient(135deg, #60a5fa 0%, #b2ebf2 100%);
        }
        .btn-primary {
            background-color: #60a5fa;
            border-color: #60a5fa;
        }
        .btn-primary:hover {
            background-color: #4299e1;
            border-color: #4299e1;
        }
    </style>
</head>
<body class="bg-blue-gradient flex flex-col items-center justify-center min-h-screen font-sans">
    <h1 class="text-5xl font-bold mb-6 text-white">Image Processor</h1>
    <form method="post" enctype="multipart/form-data" class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <input type="file" name="image" accept="image/*" required class="mb-4 p-2 border rounded w-full">

        <div class="mb-4 flex items-center">
            <label for="blur" class="mr-2 text-gray-700">Blur Amount:</label>
            <input type="range" name="blur" id="blur" min="0" max="30" step="1" value="{{ blur }}" class="flex-1" oninput="updatePreview(true)">
        </div>
        <button type="submit" class="btn-primary text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Process Image</button>
    </form>
    <div id="preview-container" class="mt-8 hidden items-center justify-center">
        <h2 class="text-xl font-semibold mb-4 text-blue-700" id="preview-label-text">Image Preview</h2>
        <img id="preview-image" src="" alt="Blurred Image Preview" class="max-w-full rounded border border-gray-300">
    </div>
    <script>
        let currentFile = null;
        let isFetching = false;
        let isLastPass = false;
        const fileInput = document.querySelector('input[type="file"]');
        fileInput.addEventListener('change', (event) => {
            currentFile = event.target.files[0];
            updatePreview(false);
        });

        function updatePreview(liveUpdate) {
            if (isFetching) {
                return;
            }

            const previewContainer = document.getElementById('preview-container');
            const previewImage = document.getElementById('preview-image');
            const blurAmount = document.getElementById('blur').value;
            document.getElementById('preview-label-text').innerHTML = "Image Updating...";
            
            if (!currentFile) {
                return;
            }

            if (liveUpdate == true){
                previewContainer.classList.remove('hidden');
            } else {
                previewContainer.classList.add('hidden');
            }

            document.body.style.cursor = 'wait';
            isFetching = true;

            const formData = new FormData();
            formData.append('image', currentFile);
            formData.append('blur', blurAmount);

            fetch('/preview', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                 if (data.error) {
                    console.error('Error:', data.error);
                } else {
                    previewImage.src = 'data:image/png;base64,' + data.image;
                    document.body.style.cursor = 'pointer';
                    previewContainer.classList.remove('hidden');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.body.style.cursor = 'pointer';
            })
            .finally(() => {
                isFetching = false;
                if (isLastPass == false){
                    updatePreview(true);
                    isLastPass = true;
                } else {
                    isLastPass = false;
                    document.getElementById('preview-label-text').innerHTML = "Image Preview";
                }
                
            });
        }
    </script>
</body>
</html>
